certifi==2024.6.2
charset-normalizer==3.3.2
filelock==3.14.0
fsspec==2024.6.0
huggingface-hub==0.23.3
idna==3.7
Jinja2==3.1.4
MarkupSafe==2.1.5
mlx==0.15.0
mlx-lm==0.14.3
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.4
packaging==24.1
protobuf==5.27.1
psutil==5.9.8
PyYAML==6.0.1
regex==2024.5.15
requests==2.32.3
safetensors==0.4.3
sympy==1.12.1
tokenizers==0.19.1
torch==2.2.2
tqdm==4.66.4
transformers==4.41.2
typing_extensions==4.12.2
urllib3==2.2.1
